:root {
  /* Fonts */
  --main-fonts: "Roboto", sans-serif;
  --secondary-fonts: "Raleway", sans-serif;

  /* Text colors */
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --green-color: #31d0aa;
  --white-color: #ffffff;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --dark-color: #2e2f42;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;

  /* Background colors */
  --background-color: #2e2f42;
}

/* Basic CSS */

body {
  font-family: var(--main-fonts);
  color: var(--dark-color);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;

  /* outline: 2px solid tomato;
  outline-offset: -2px; */
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* Header */

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  text-transform: uppercase;
  margin-right: 76px;
  display: block;
  font-family: var(--secondary-fonts);
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
}

.logo-primary {
  color: var(--primary-brand-color);
}

.header-list {
  gap: 40px;
  display: flex;
}

.header-list-link {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
}

.header-list-link:focus,
.header-list-link:hover {
  color: var(--pressed-state-color);
}

.header-list-link-active {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--pressed-state-color);
}

.header-contact-list {
  display: flex;
  margin-left: auto;
  gap: 40px;
}

.header-contact-link {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.header-contact-link:focus,
.header-contact-link:hover {
  color: var(--pressed-state-color);
}

.header-contact-link-icon {
  margin-right: 10px;
  fill: var(--text-color);
}

.header-contact-link:focus .header-contact-link-icon,
.header-contact-link:hover .header-contact-link-icon {
  fill: var(--pressed-state-color);
}

/* Main */

/* Hero */

.section-hero {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 200px;
}

.hero {
  padding-top: 188px;
  margin-left: 293px;
  margin-right: 293px;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: calc(60 / 56);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

.hero-btn {
  min-width: 170px;
  min-height: 56px;
  display: block;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white-color);
  border: none;
}

.hero-btn:focus,
.hero-btn:hover {
  background: var(--pressed-state-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* About */

.section-about {
  padding-top: 112px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.about-list-item {
  width: 264px;
}

.about-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  height: 112px;
  background-color: var(--light-color);
}

.about-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
}

.about-text {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* Activity */

.activity-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
  text-align: center;
}

.activity-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

/* Team */

.section-team {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 110px;
  background-color: var(--light-color);
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
  text-align: center;
}

.team-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.team-list-item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-info {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-list-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  text-align: center;
}

.team-list-text {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--text-color);
}

.team-social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-brand-color);
  fill: var(--light-color);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--pressed-state-color);
}

.team-social-link:hover .social-icon,
.team-social-link:focus .social-icon {
  fill: var(--light-color);
}

/* Clients */

.section-clients {
  padding-top: 130px;
  padding-bottom: 120px;
}

.clients-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
}

.clients-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.clients-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 88px;
  fill: var(--subtle-text-color);
  border: 1px solid var(--subtle-text-color);
  border-radius: 4px;
  cursor: pointer;
}

.clients-list-item:focus,
.clients-list-item:hover {
  fill: var(--pressed-state-color);
  border: 1px solid var(--pressed-state-color);
}

/* Footer */

.footer {
  margin: 0 auto;
  background-color: var(--background-color);
}

.section-footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  align-items: baseline;
  gap: 120px;
}

.footer-logo {
  text-transform: uppercase;
  display: block;
  margin-bottom: 16px;
  font-family: var(--secondary-fonts);
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  color: var(--light-color);
}

.footer-text {
  width: 264px;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.footer-social-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--white-color);
}

.footer-social-list {
  display: flex;
  padding-left: 0;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--light-color);
}

.footer-social-link:focus,
.footer-social-link:hover {
  background-color: var(--green-color);
}

/* Portfolio */

.header-portfolio {
  margin: 0 auto;
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-list-btn {
  padding: 12px 24px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.portfolio-list-btn:focus,
.portfolio-list-btn:hover {
  color: var(--white-color);
  background-color: var(--pressed-state-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.portfolio-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
}

.portfolio-card-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.card-info {
  padding: 32px 0px 32px 16px;
  border-left: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.card-info:hover,
.card-info:focus {
  border: 1px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
}

.card-text {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--text-color);
}
